.footer {
    width: 100%;
    padding: 2rem 0;
    background-color: #5651e52d;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.footer .container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.footer .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h3 {
    margin-bottom: auto;
}

.footer p {
    margin: 0.3rem 0;
}

.footer .social {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 1rem; 
    margin-bottom: 1.5rem;
}

.footer .icon {
    font-size: 2rem;
    color: #5651e5;
    transition: transform 0.3s ease;
}

.footer .icon:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 940px) {
    .footer .container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}