html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  font-family: Montserrat;
  background-color: #f8f5ff;
  color: #0d001f;
  font-size: 1.5rem;
  min-height: 100svh;
  overflow-x: hidden;
}

#root{
  padding: 0;
}

main{
  width: min(1300px, 100%);
  margin: auto;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px;
}


nav :hover {
  transition: 0.3s;
  color:#001691;
  text-shadow: 0 0 5px #7000a3;
}


section {
  width: min(1300px, 100%);
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}